@import "colors";

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
);

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}

body {
	font-family: "Raleway", sans-serif;
	font-size: 15px;
	height: auto;
	box-sizing: content-box;
	padding-top: 5rem;
}

p {
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
}

.box {
	height: 300px;
	width: 300px;
	border-radius: 5px;
	background-color: white;
}

.navbar-brand img {
	display: block;
	height: 50px;
}

.navbar {
	li {
		font-family: "Raleway", sans-serif;
		font-size: 14px;
		font-style: normal;
		line-height: 18px;
		letter-spacing: 0.3px;
		padding: 0 1.2em;
		position: relative;

		&::after {
			@media (min-width: 992px) {
				content: "";
				height: 80%;
				width: 2px;
				background-color: $lightBlue;
				position: absolute;
				top: 10%;
				right: 0;
			}
		}
		.nav-link {
			color: $black;
			font-weight: 400;
			&.active {
				font-weight: 700;
			}
		}
	}
	li:last-of-type {
		&::after {
			content: "";
			display: none;
		}
	}
	.btn-custom {
		font-weight: 700;
		border-radius: 25px;
		background-color: #ff6d74;
		color: #ffffff;
		padding-left: 1.2em;
		padding-right: 1.2em;
		&:hover {
			border: 1px solid #000000;
		}
	}
}

#intro {
	font-family: "Raleway", sans-serif;
	background-color: $darkBlue;
	width: 100%;
	.introContent {
		background-color: $darkBlue;
		@media (min-width: 992px) {
			min-height: 500px;
		}
	}
	.titreIntro {
		font-weight: 900;
		color: $white;
		font-size: 2.5em;

		@media (min-width: 992px) {
			font-size: 3.6em;
			padding-right: 1em;
		}
		span {
			color: $lightBlue;
		}
	}

	.blockIllus {
		position: relative;
		height: 100%;

		.blockIllusImg {
			width: 75%;
			@media (min-width: 992px) {
				width: 72%;
			}
		}
		&::before {
			content: "";
			position: absolute;
			background-image: url("../assets/ronds.svg");
			background-repeat: no-repeat;
			background-size: contain;
			left: -15%;
			top: 20%;

			@media (min-width: 992px) {
				left: -29%;
				top: -13%;
				width: 100%;
				height: 119%;
			}
		}
	}
}

.blockImgRight {
	font-family: "Raleway", sans-serif;
	background-color: $white;
	width: 100%;
	&__content {
		@media (min-width: 992px) {
			min-height: 500px;
		}
		&__left {
			// padding-right: 10%;
			.titleBlock {
				font-weight: 700;
				font-size: 36px;
				display: block;
				margin-bottom: 1em;
				span {
					text-decoration: none;
					background-image: linear-gradient($lightBlue, $lightBlue);
					background-repeat: no-repeat;
					background-position: bottom left;
					background-size: 110% 40%;
					padding-right: 5px;
				}
			}

			.textBlock {
				font-family: "lato";

				font-weight: 400;
				font-size: 18px;
				line-height: 1.4em;
			}
		}

		.blockImage {
			position: relative;
			margin: 5em 0;

			@media (min-width: 992px) {
				padding-left: 3em;
			}
			&__img {
				position: relative;
				&::before {
					content: "";
					position: absolute;
					background-image: url("../assets/color.svg");
					background-repeat: no-repeat;
					background-size: cover;
					width: 100%;
					height: 100%;
					top: 4%;
					left: 3%;
					z-index: 0;
				}
				img {
					width: 100%;
					z-index: 10;
					height: 100%;
					position: relative;
				}
			}
		}
	}
}

#expertise {
	background-color: $grey;
	width: 100%;

	.blocks {
		padding: 140px 0 50px 0;
		.item {
			background: $white;
			padding: 0 30px 50px 30px;
			border-radius: 3%;
			margin-bottom: 120px;
			&:last-child {
				margin-bottom: 0;
			}
			@media (min-width: 992px) {
				width: 32%;
				margin: 0;
			}
			&__titre {
				font-weight: 700;
				font-size: 36px;
			}

			&__text {
				font-family: "lato";
				font-weight: 400;
				font-size: 18px;
				line-height: 1.4em;
				margin-top: 10px;
			}

			&__picto {
				width: 200px;
				height: 200px;
				border-radius: 100%;
				margin: -90px auto 0 auto;
				background-color: $white;
				img {
					width: 100%;
					height: 110px;
				}
			}
		}
	}
}

.logiciels {
	width: 100%;

	&__container {
		padding: 50px 0;
	}
	&__title {
		position: relative;
		font-weight: 700;
		font-size: 28px;
		margin: 0 auto;
		z-index: 1;
		&::before {
			content: "";
			width: 85%;
			height: 20px;
			background: #a7d8db;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 20px;
			z-index: -1;
		}
	}
	&__listeLogiciels {
		margin-top: 40px;
		width: 100%;

		img {
			object-fit: contain;
		}
	}
}

#blockImageLeft {
	background-color: $grey;
	width: 100%;
	&.blockImageLeft {
		// padding: 50px 0;
		img {
			width: 100%;
			@media (min-width: 992px) {
				padding-right: 2em;
			}
		}
	}
}
